@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-info.bg-gradient">
    <div class="container-fluid">      
            <div class="homediv rounded" stytle="text-decoration-color:white">
            <div class="row justify-content-between">
                <div class="col-9" id="helpform">
                </div>
                <div class="col-3" id="search-form">
                    <div class="form-outline search-form">
                        <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" />
                    </div>
                </div>
            </div>
                <center><br />
                    <h3>Organic food, ecological food, or biological food</h3>
                    <h5>Foods and drinks produced by methods complying with the 
                        standards of organic farming.</h5><br/>

                    &nbsp; <button type="button" class="btn btn-outline-primary">Shop Now</button>&nbsp;
                </center>
               </div>
        <!--feature-->
                <div>
                   <center><h1 class="text-success-emphasis">Our<span class="badge rounded-pill bg-info">Features</span></h1></center>
                </div>
        </div>        
        <!--- Our feature Content--->
               <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-80">
                        <div class="card-body">
                            <div class="img-wrapper-feature">
                                <img src="~/css/Organic Food/634759-e1559819916194.jpg" class="card-img-top" alt="...">
                            </div>
                            <h5 class="card-title">Fresh Organic food</h5>
                            <p class="card-text">Pay card less at the free charge.</p>
                            <center><button type="button" class="btn btn-outline-primary">Read More</button>&nbsp;</center>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col"> 
                    <div class="card h-80">
                        <div class="card-body">
                            <div class="img-wrapper-feature">
                                <img src="~/css/images/delivery.png" class="card-img-top" alt="...">
                            </div>
                            <h5 class="card-title">delivery</h5>
                            <p class="card-text">Pay card less at the free charge.</p>
                            <center><button type="button" class="btn btn-outline-primary">Read More</button>&nbsp;</center>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-80">   
                        <div class="card-body">
                            <div class="img-wrapper-feature">
                        <img src="~/css/Organic Food/digitalPyment.jpg" class="card-img-top" alt="...">
                        </div>
                            <h5 class="card-title">Easy Payments</h5>
                            <p class="card-text">Pay card less at the free charge.</p>
                            <center><button type="button" class="btn btn-outline-primary">Read More</button>&nbsp;</center>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        
            <!--Products-->
        <section class="pt-5 pb-5">
                <div class="row">
                        <div class="col-8">
                          <center><h1 class="text-success-emphasis">Our<span class="badge rounded-pill bg-info ">Products</span></h1></center>
                        </div>
                        <div class="col-4 text-right">
                                <a class="btn btn-primary mb-2 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                                <a class="btn btn-primary mb-2 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                    <i class="fa fa-arrow-right"></i>
                                 </a>
                        </div>
                        <div class="col-12">
                             <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                     <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <div class="img-wrapper">
                                                     <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/banana.jpg">
                                                </div>
                                                <div class="card-body">
                                                    <center><h4 class="card-title">Banana</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button>
                                                    </center>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                             <div class="img-wrapper">
                                                <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/apple.jpg">
                                              </div>
                                                <div class="card-body">
                                                   <center> <h4 class="card-title">Special Aple</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span></div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button>   
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <div class="img-wrapper">
                                                 <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/grapes.jpg">
                                               </div>
                                                <div class="card-body">
                                                    <center><h4 class="card-title">Special title Grapes</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button></center>
                                                   </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <div class="img-wrapper">
                                                     <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/Onions brown.jpg">
                                                </div>
                                                <div class="card-body">
                                                    <template>
                                                        <div>
                                                            <label for="rating-inline">Inline rating:</label>
                                                            <b-form-rating id="rating-inline" inline value="4"></b-form-rating>
                                                        </div>
                                                    </template>
                                                    <center><h4 class="card-title">Brown Onion</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button></center>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                             <div class="img-wrapper">
                                                <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/sweet-Potatoes.jpg">
                                              </div>
                                                <div class="card-body">
                                                   <center> <h4 class="card-title">Sweet Potatoes</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button></center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <div class="img-wrapper">
                                                 <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/freshonion.jpg">
                                               </div>
                                                <div class="card-body">
                                                    <center><h4 class="card-title">Fresh Onion</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button></center>
                                                   </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <div class="img-wrapper">
                                                     <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/Watermelon.jpg">
                                                </div>
                                                <div class="card-body">
                                                    <center><h4 class="card-title">WaterMelon</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button></center>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                             <div class="img-wrapper">
                                                <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/Tomato.png">
                                              </div>
                                                <div class="card-body">
                                                   <center> <h4 class="card-title">Special Tomato</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                        <div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button></center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <div class="img-wrapper">
                                                 <img class="img-fluid" alt="100%x280" src="~/css/Organic Food/orange.jpg">
                                               </div>
                                                <div class="card-body">
                                                    <center><h4 class="card-title">Orange</h4>
                                                    <h3>R7.99 - R15.00</h3>
                                                      <div>
                                                         <b-form-rating id="rating-inline" inline value="4" no-border></b-form-rating>
                                                        </div><div style="color:orange">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                       <button type="button" class="btn btn-outline-primary">Add Charts</button></center>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                 </div>
                               </div>
                            </div>
                        </div>
                    </div>
             </section>
    @*       ------------------------------------------- Category--------------------------------------*@
    <div>
            <center><h1 class="text-success-emphasis">OUR<span class="badge rounded-pill bg-info ">CATEGORY</span></h1></center>
    </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="img-wrapper-feature">
                    <img src="~/css/Organic Food/vegetables.jpg" class="card-img-top" alt="..."></div>
                    <div class="card-body"><center>
                        <h5 class="card-title">Organic Vegetables</h5>
                        <p class="card-text">Up to 45% Off</p>
                     <button type="button" class="btn btn-outline-primary">Read More</button></center>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100"><div class="img-wrapper-feature">
                    <img src="~/css/Organic Food/fruits.jpg" class="card-img-top" alt="..."></div>
                    <div class="card-body"><center>
                        <h5 class="card-title">Fresh Fruits</h5>
                        <p class="card-text">Up to 45% Off</p>
                    <button type="button" class="btn btn-outline-primary">Read More</button></center>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100"><div class="img-wrapper-feature">
                    <img src="~/css/Organic Food/dairyProducts.jpg" class="card-img-top" alt="..."></div>
                    <div class="card-body"><center>
                        <h5 class="card-title">Daily Products</h5>
                        <p class="card-text">Up to 45% Off</p>
                            <button type="button" class="btn btn-outline-primary">Read More</button>
                        </center>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="img-wrapper-feature">
                    <img src="~/css/Organic Food/FreshMeat.jpg" class="card-img-top" alt="..."></div>
                    <div class="card-body"><center>
                        <h5 class="card-title">Fresh Meat</h5>
                        <p class="card-text">Up to 45% Off</p>
                            <button type="button" class="btn btn-outline-primary">Read More</button>
                        </center>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

        </div>
    
        @*--------------------------------------------Customer Review-------------------------------------*@

        <div>
            <center><h1 class="text-success-emphasis">Customers <span class="badge rounded-pill bg-info">Review</span></h1></center>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100"><div class="img-wrapper">
                    <img src="~/css/Organic Food/r1.jpg" class="rounded-circle" alt="..."></div>
                    <div class="card-body"><CENTER>
                        <h5 class="card-title">NYAWO SITHOKOZISO</h5>
                            <p class="card-text">This content is a little bit longer.</p>
                        </CENTER>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100"><div class="img-wrapper">
                    <img src="~/css/Organic Food/r2.jpg" class="rounded-circle" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">NYAWO SIYATHOKOZA</h5><center>
                            <p class="card-text">This card lead-in to additional content.</p>
                        </center>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="img-wrapper">
                        <img src="~/css/Organic Food/r2.jpg" class="rounded-circle" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">NYAWO SIYATHOKOZA</h5><center>
                            <p class="card-text">This card lead-in to additional content.</p>
                        </center>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100"><div class="img-wrapper">
                        <img src="~/css/Organic Food/r3.jpg" class="rounded-circle" alt="...">
                    </div>
                    <div class="card-body"><center>
                        <h5 class="card-title">NYAWO LETHUKUTHULA</h5>
                        <p class="card-text">nger content than the first to show that equal height action.</p></center>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div> 
  

    @*-----------------------------------------Company Content-----------------*@
    <br />
    <div class="container body text-dark">
        <div class="row row-cols-4">
            <div class="col"><b>
                <a href="#" class="navbar-brand mb-0 h1">
                    <img src="~/css/images/logo.jpg" width="70" height="50" class="d-inline-block align-top" alt=""> Grocery
                    </a>
                </b>
            <br />
            <p>
               <h6> Foods and drinks produced by methods complying <br />with the standards of organic farming.</h6>
            </p><br />
             <button type="button" class="btn btn-outline-primary bi bi-facebook"></button>
                    <button type="button" class="btn btn-outline-primary bi bi-twitter"></button>
                    <button type="button" class="btn btn-outline-primary bi bi-instagram"></button>
                    <button type="button" class="btn btn-outline-primary bi bi-linkedin"></button>
            </div>
            <div class="col">
                <h2><b>Contact Info</b></h2><p>
                <i class="bi bi-telephone text-primary"></i>+27 71 545 2908<br />
                <i class="bi bi-telephone text-primary"></i>+27 71 545 2908<br />
                <i class="bi bi-envelope text-primary"></i>nyawoz@live.com<br />
                <i class="bi bi-geo-alt text-primary"></i>Mtubatuba Town, KwaZulu-Natal,3539
                </p>
            </div>
            <div class="col"><h2><b>Quick Links</b></h2> <br />
                <p><a href="#" class="text-primary bi bi-arrow-right">HOME</a></p>
                <p><a href="#" class="text-primary bi bi-arrow-right">FEATURE</a></p>
                <p><a href="#" class="text-primary bi bi-arrow-right">CATEGORIES</a></p>
                <p><a href="#" class="text-primary bi bi-arrow-right">PRODUCTS</a></p>
                <p><a href="#" class="text-primary bi bi-arrow-right">REVIEW</a></p>
            
            </div>

            <div class="col"><h2><b>Newsletter</b></h2><br />
                <h6>Subscribe for latest update</h6><br />
                <input class="form-control form-control-sm" type="text" placeholder="Your email" aria-label=".form-control-sm example"><br />
                    <button type="button" class="btn btn-outline-primary" placeholder="subscribe">subscribe</button><br /><br />
                <img src="~/css/CardsPayments/visa.png" width="50"height="30" class="d-inline-block align-top" alt="">&nbsp;
                <img src="~/css/CardsPayments/visa2.png" width="50" height="30" class="d-inline-block align-top" alt="">&nbsp;
                <img src="~/css/CardsPayments/visa3.png" width="50"height="30" class="d-inline-block align-top" alt="">&nbsp;
                <img src="~/css/CardsPayments/visa4.png" width="50"height="30" class="d-inline-block align-top" alt="">&nbsp;
            </div>
        </div>
    </div>
  </div>

